.faqContainer {
  max-width: 1140px;
  width: 100%;
  padding: 100px 18px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 1000px) {
    padding: 192px 10px;
    justify-content: space-between;
  }
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #222433;
  margin-bottom: 40px;
  @media screen and (min-width: 766px) {
    font-size: 40px;
    line-height: 1.4;
  }
}

.description {
  font-size: 15px;
  line-height: 1.75;
  color: #1e1a20;
  opacity: 0.9;
  width: 100%;
  margin-bottom: 32px;
  @media screen and (min-width: 766px) {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 1.78;
    width: 423px;
  }
}

.contactUsBtn {
  width: 166px;
  height: 48px;
  background: #f2726c;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms linear;
  cursor: pointer;
}

.contactUsBtn:hover {
  box-shadow: 0px 3px 10px 6px rgba(206, 206, 206, 1);
}
