.hero {
  background-color: #f7f3f4;
  display: block;
  width: 100%;
}

.heroContainer {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-top: 177px;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  @media screen and (min-width: 766px) {
    padding: 180px 72px 68px 120px;
  }
}

.inputContainer {
  padding: 0 19px;
  margin: 20px auto;
  max-width: 448px;
  position: relative;
  @media screen and (min-width: 766px) {
    margin: 60px 0 20px 0;
  }

  input {
    width: 100%;
    height: 64px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    padding-left: 48px;
    padding-right: 140px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 1.71;
    color: #807c7c;
    @media screen and (min-width: 766px) {
      margin-top: 48px;
    }
  }

  label {
    position: relative;
  }

  label:before {
    content: "";
    position: absolute;
    left: 21px;
    top: 0;
    width: 14px;
    height: 20px;
    background: url("../../assets//icons/location.svg");
  }

  button {
    width: 122px;
    height: 48px;
    background: #f2726c;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #ffffff;
    border: none;
    transition: all 150ms linear;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 27px;

    &:hover {
      box-shadow: 0px 3px 10px 6px rgba(206, 206, 206, 1);
    }
  }
}

.membersCountContainer {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 550px;
  height: 565px;
  background-image: url(../../assets/hero/parrot.png);
  background-repeat: no-repeat;
  background-position: 96px 0;

  @media screen and (min-width: 766px) {
    background-position: center;
    max-width: 458.44px;
  }
}

.membersCount {
  width: 215px;
  height: 255px;
  background-image: url(../../assets/hero/members-count.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 100px;
  left: 18px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 766px) {
    width: 272px;
    height: 320px;
    font-size: 20px;
    position: absolute;
    bottom: -52px;
    left: -53px;
  }

  img {
    width: 32.67px;
    height: 38.12px;
    @media screen and (min-width: 766px) {
      width: 48px;
      height: 56px;
    }
  }

  p {
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    font-size: 15px;
    @media screen and (min-width: 766px) {
      font-size: 20px;
    }
  }

  & p:nth-child(2) {
    font-size: 40px;
    @media screen and (min-width: 766px) {
      font-size: 56px;
    }
  }
}

.headlineContainer {
  margin: 0 auto;
}

.headlineImg {
  width: 336px;
  height: 181px;
  margin: 0 auto;
  @media screen and (min-width: 766px) {
    margin: 60px auto 0;
    width: 542.72px;
    height: 292.74px;
    display: flex;
  }
}
