header {
  width: 100%;
  background-color: #f7f3f4;
  position: fixed;
  height: 107px;
  z-index: 100;
  @media screen and (min-width: 767px) {
    height: 112px;
  }
}

.headerContainer {
  position: fixed;
  width: 90%;
  max-width: 1280px;
  height: 107px;
  border-bottom: 4px solid #222433;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f7f3f4;
  display: flex;
  left: 50%;
  z-index: 101;
  transform: translateX(-50%);

  @media screen and (min-width: 767px) {
    align-items: center;
    width: 100%;
    height: 112px;
  }
}

.headerNav {
  display: none;
  max-width: 500px;
  ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.navLink {
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: all 100ms linear;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: #000000;
  }
}

.navLink:active,
.navLink:hover {
  font-weight: 700;
}

.logoContainer {
  width: 111px;
  height: 33px;
  position: relative;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
  }

  .logoLeaf {
    position: absolute;
    transition: all 200ms linear;
    &:nth-child(1) {
      bottom: 0;
      left: 0;
    }
    &:nth-child(2) {
      bottom: 1px;
      left: 7px;
    }
    &:nth-child(3) {
      left: 7px;
      bottom: -1px;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        transform: rotate(80deg);
        left: 15px;
        bottom: -11px;
      }
      &:nth-child(3) {
        transform: rotate(-75deg);
        left: -7px;
        bottom: 9px;
      }
    }
  }
}

.logo {
  width: 60.47px;
  height: 16.75px;
  // margin-left: auto;
  // margin-top: 43px;
  // top: 30px;
  @media screen and (min-width: 767px) {
    margin-top: 0;
  }
}

.applyBtn {
  display: none;
  width: 145px;
  height: 48px;
  background: #ffffff;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  transition: all 150ms linear;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.applyBtn:hover {
  box-shadow: 0px 3px 10px 6px rgba(206, 206, 206, 1);
}
