.sectionContainer {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background: #ffbd9e;
  border-radius: 20px;
  padding: 42px 18px 56px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 0 auto;
  }
  @media screen and (min-width: 766px) {
    padding: 104px 42px 104px 18px;
  }
}

.getStartedHeading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #222433;
  max-width: 389px;
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: 766px) {
    font-size: 40px;
    line-height: 1.4;
  }
}

.getStartedText {
  font-size: 15px;
  line-height: 1.75;
  color: #1e1a20;
  opacity: 0.9;
  max-width: 389px;
  margin-bottom: 55px;
  text-align: center;
  @media screen and (min-width: 766px) {
    font-size: 18px;
    line-height: 1.78;
  }
}

.loginContainer {
  padding: 40px 24px;
  background: #f7f3f4;
  border-radius: 16px;
  position: relative;
  width: 100%;
  max-width: 442px;
  @media screen and (min-width: 766px) {
    width: 90%;
    padding: 40px 55px;
  }

  &:before {
    content: "";
    position: absolute;
    right: -18px;
    top: -20px;
    width: 47px;
    height: 43px;
    background: url("../../assets/logIn/leaf1.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: 766px) {
      width: 60px;
      height: 55px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    height: 48px;
    background: #ffffff;
    border-radius: 40px;
    border: none;
    outline: none;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.71;
    color: #807c7c;
    padding: 12px 24px;
  }

  button {
    height: 48px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f2726c;
    color: #ffffff;
    margin-top: 16px;
    cursor: pointer;
    transition: all 150ms linear;

    &:hover {
      box-shadow: 0px 3px 10px 6px rgba(206, 206, 206, 1);
    }
  }
}

.formHeading {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #222433;
  margin-bottom: 24px;
  position: relative;
  @media screen and (min-width: 766px) {
    font-size: 32px;
    line-height: 1.75;
  }

  &:before {
    content: "";
    position: absolute;
    right: -35px;
    top: -8px;
    width: 31px;
    height: 16px;
    background: url("../../assets/logIn/leaf2.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: 766px) {
      width: 40px;
      height: 21px;
      right: -75px;
      top: 18px;
    }
  }
}
