.burgerBtn {
  position: absolute;
  top: 52px;
  right: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 27px;
  height: 17px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10001;
  display: none;
  @media screen and (max-width: 766px) {
    display: flex;
  }

  &:focus {
    outline: none;
  }

  div {
    display: block;
    width: 22px;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    transform-origin: 1px;

    &:first-child {
      transform: rotate(0);
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      width: 17px;
    }

    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}

.open {
  div {
    &:first-child {
      transform: rotate(37deg);
    }

    &:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    &:nth-child(3) {
      transform: rotate(-37deg);
    }
  }
}
